@charset "ütf-8";

/*CSS Document*/

/*NavBar*/
html{
  scroll-behavior: smooth;
}

* {
 margin-top: 0;
 margin-bottom: 0;
 margin-left: 0;
 margin-right: 0;
 font-family:"Satoshi-Regular";
}

nav {
 display: flex;
 background-color: #212721;
 padding: 25px;
 height: 100px;
 align-items: center; 
 justify-content: space-between;
 border-bottom: 3px solid #FFCD00;
}

.logo {
 width: 400px;
 margin-left: -100px;
 margin-right: -100px;
}

.nav-buttons {
 display: flex;
 flex-direction: row;
 list-style-type: none; 
 margin: 0;
 padding: 0;
 gap: 40px;
}

li {
 align-items: end;
 justify-content: end;
}

.nav-buttons a {
 color: #FFCD00;
 text-decoration: none;
 text-decoration: none;
 font-size: 25px;
 font-family: "Satoshi-Regular";
}

.nav-buttons a:hover {
 text-decoration: underline;
}

/* Pagina Main */

#main {
 background-image: url('../img/LAMINA.png');
 background-size: cover; 
 background-position: center; 
 height: 1000px;
 width: auto;
 color: #FFCD00;
 display: flex;
 position: relative; /* Necessário para posicionar o pseudo-elemento */
 }
 
 #main::after {
 content: '';
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 3px; /* Altura da "borda" */
 background: linear-gradient(to left, #212721, #FFCD00);
 }

#main article { 
 margin-top: 100px;
 margin-left: 50px;
 width: 600px;
}

#main article h1 {
 margin: 0;
 font-size: 60px;
 margin-bottom: 50px;
}

#main article p {
 font-size: 25px;
 margin-bottom: 60px;
}

#main article a {
 background-color: #212721;
 color:#FFCD00;
 padding: 20px;
 border-radius: 15px;
 font-size: 35px;
 text-decoration: none;
 transition: 0.3 ease;
}

#main #seta {
 background-color:#FFCD00 ;
}

#main article a:hover {
 box-shadow: 0px 2px 6px rgba(255, 205, 0, 0.8);
}

/* Problemas e Cards */

#problemas {
 height: 100%;
 padding-bottom: 20px;
 width: auto;
 color: #FFCD00;
 display: flex;
 background: #212721;
 color: white;
 flex-direction: column;
 align-items: center;    
}


#problemas #card-title {
 margin-top: 100px;
 display: flex;
 flex-direction: column; 
 justify-content: center;
 align-items: center; 
 text-align: center;
 }
 
 #problemas #card-title h2 {
 font-family: "Satoshi-Bold";
 color: #d9d8d6;
 font-size: 30px;
 margin-bottom: 10px; 
 margin-top: 10px;
 }
 
 #problemas #card-title h1 {
 font-family: "Satoshi-Bold";
 color: #FFCD00;
 font-size: 40px;
 width: 65%; 
 text-align: center;
 margin-bottom: 20px;
 }
 
#problema-img {
 width: 55px;
 height: 66px;
}

#problemas #todos-card {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem linha */
  justify-content: center; /* Centraliza os cards horizontalmente */
  gap: 20px; /* Espaçamento entre os cards */
  width: 100%; /* Garante que o container ocupe toda a largura */
  max-width: 1400px;
}
   
#problemas .card {
 background-color: #2b332b;
 height: 220px;
 max-width: 350px;
 min-width: 250px;
 display: flex;
 flex: 1 1 calc(33.333% - 40px);
 box-sizing: border-box;
 flex-direction: column;
 align-items: start;
 justify-content: center;
 border-radius: 2.5%;
 border:1px solid #d9d8d6;
 position: relative; /* Adiciona a referência para o posicionamento do ícone */
 padding: 10px;
 margin-left: 10px;
 margin-right: 10px;
}
   
#problemas .card-icon {
 position: absolute; /* Posiciona o ícone em relação ao card */
 top: 10px; /* Ajuste conforme necessário para posicionar corretamente */
 left: 10px; /* Ajuste conforme necessário para posicionar corretamente */
 font-size: 15px; /* Ajuste o tamanho do ícone conforme necessário */
 color: #FFCD00; /* Adicione cor ou estilo conforme necessário */
 display: flex;
 justify-content: start;
 align-items: start;
 text-align: start;
}

#problemas .card h3 {
 font-size: 25px;
 font-family:"Satoshi-Bold";
 margin-left: 15px;
 margin-top: 15px;
 margin-bottom: 5px;
}

#problemas .card img
#problemas .card p {
 font-size: 20px;
 margin-left: 15px;
 margin-right: 10px;
 font-family:"Satoshi-Regular";
}

#problemas a {
 background-color: #212721;
 color:#FFCD00;
 padding: 20px;
 border-radius: 15px;
 font-size: 35px;
 text-decoration: none;
 transition: 0.3 ease;
 margin-top: 30px;
 margin-bottom: 5%;
 box-shadow: 0px 2px 6px rgba(255, 205, 0, 0.8);
 font-family:"Satoshi-Bold";
}

#problemas a:hover {
 background-color: #FFCD00;
 color: #212721;
 }

/* Solucoes e Cards */

#solucoes {
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  color: #FFCD00;
  display: flex;
  background: #212721;
  color: white;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#solucoes #solucoes-title {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  text-align: center;
}

#solucoes #solucoes-title h1 {
  font-family: "Satoshi-Bold";
  color: #FFCD00;
  font-size: 40px;
  width: 80%; 
  margin-bottom: 20px;
}

#solucoes #solucoes-title h2 {
  font-family: "Satoshi-Bold";
  color: white;
  font-size: 30px;
  margin-bottom: 10px; 
  margin-top: 10px;
}

#solucoes #text-solucoes {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  text-align: center; /* Garante que o texto fique centralizado */
  width: 100%; /* Garante que ocupe a largura total */
}

#solucoes #text-solucoes p {
  margin-top: 15px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  width: 80%;
  
}

#solucoes ul {
  margin-bottom: 50px;
  margin-top: 30px;
}

#solucoes #text-solucoes li {
  margin-top: 10px;
  flex-direction: column; 
  justify-content: center;
  align-items: start;
  text-align: start;
  font-size: 20px;
}

#solucoes #todos-card2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%
}

#solucoes .card2 {
  background-color: #212721;
  height: 220px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 10%;
  box-shadow: 0px 2px 6px rgba(255, 205, 0, 0.8);
  position: relative; /* Adiciona a referência para o posicionamento do ícone */
  padding: 10px;
}

#solucoes .card2 h3 {
  font-size: 25px;
  font-family:"Satoshi-Bold";
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
 }

 #solucoes .card2 p {
  font-size: 20px;
  margin-left: 15px;
  margin-right: 10px;
  font-family:"Satoshi-Regular";
  text-align: start;
 }

#solucoes .card-icon2 {
  position: absolute; 
  top: 10px; 
  left: 10px; 
  font-size: 15px; 
  color: #FFCD00; 
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;
}

/*Servicos */

#servicos
{
  padding-top: 100px;
  padding-bottom: 100px;
  background: 
  linear-gradient(to left, rgba(33, 39, 33, 0.95) 50%, rgba(33, 39, 33, 0.95) 50%), 
  url('../img/mac.jpg'); /* Substitua 'mac.png' pelo caminho correto da imagem */
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

#servicos h2{
  color: grey;
  font-size: 35px;
  text-align: center;
  font-family: "Satoshi-Bold";

}

#servicos h3{
  color: #FFCD00;
  width: 70%;
  font-size: 45px;
  text-align: center;
  font-family: "Satoshi-Bold";
  margin-bottom: 30px;
}
/* Carossels */

.carousel {
  width: 90%;
  max-width: 1200px;
  position: relative;
  background-color: #ffffff; 
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;  
}

.caroul-img
{
  height: 350px;
  width: 400px;
}

.caroul-text{
  margin-right: 40px;
}

.caroul-text h4{
  font-family: "Satoshi-Bold";
  font-size: 25px;
  margin-bottom: 20px;
}

.caroul-text ul{
  margin-bottom: 20px;
}
.caroul-text p{
  margin-bottom: 20px;
}

.caroul-text a{
  background-color: #212721;
  color:#FFCD00;
  padding: 10px;
  border-radius: 15px;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3 ease;
  box-shadow: 0px 2px 6px rgba(255, 205, 0, 0.8);
  font-family:"Satoshi-Bold";
}

.caroul-text a:hover{
  background-color: #FFCD00;
  color: #212721;
}

.servicos {
  height: 400px;
  width: 80%;
  border-radius: 30px;
}

.clientes {
  height: 400px;
  width: 60%;
}

.controls {
  margin-top: 10px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.controls>btn{
  background-color: #FFCD00;
  color: 212721;
  border-radius: 50%;
  background: none;
}

.slider {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 300%;
  flex-shrink: 0;
  transition: 0.5s;
}

.slider article {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row-reverse;
  flex: 1, 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.slider>img {
  display: flex;
  flex-direction: column;
  flex: 1, 0;
  width: calc(100%/3);
  justify-items: center;
  align-self: center;
}

#clientes{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #313731;
  color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
#clientes h2{
  margin-bottom: 20px;
}
#clientes .carousel{
  padding: 0;
}
#clientes img{
  flex: 1 0;
  width: calc(100% / 9);
  border-radius: 50%;
  background-color: #212721;  
}

/* Para Quem */

#pra-quem-e{
  height: 100%;
  width: 100%;
  color: #d9d8d6;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #212721;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

#pra-quem-e .card3 {
  background-color: #212721;
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  border-radius: 5%;
  box-shadow: 0px 2px 6px rgba(255, 205, 0, 0.8);
  position: relative; /* Adiciona a referência para o posicionamento do ícone */
  padding: 10px;
  margin-left: auto;
  margin-right: 600px;
  margin-top: 120px;
}

#pra-quem-e h1 {
  font-family: "Satoshi-Bold";
  color: white;
  font-size: 40px;
  width: 100%; 
  margin-bottom: 20px;
  text-align: left;
  
}

#pra-quem-e li {
  flex-direction: column; 
  justify-content: center;
  align-items: start; 
  text-align: left;
  font-size: 20px;
  width: 480px;
  margin-bottom: 20px;
}

#pra-quem-e article a{
 background-color: #212721;
 text-align: center;
 width: 50%;
 color:#FFCD00;
 padding: 20px;
 border-radius: 15px;
 font-size: 20px;
 text-decoration: none;
 margin-right: 120px;
 margin-left: 25px;
 box-shadow: 0px 2px 6px rgba(255, 205, 0, 0.8);
}
#pra-quem-e article a:hover{

  background-color: #FFCD00;
  color: #212721;
}


/* Venda Mais */

#venda-mais {
  background-color: #212721;
  height: 100%;
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Alinha o texto ao centro */
}

#venda-mais img {
  height: 80px; /* Reduz o tamanho da imagem */
  width: 80px;
  margin: 0 auto 10px auto; /* Adiciona espaçamento inferior */
}

#venda-mais h2 {
  margin-top: 10px; /* Reduz a margem superior */
  color: #FFCD00;
  margin-bottom: 20px; /* Reduz a margem inferior */
  font-family: "Satoshi-Bold";
  font-size: 28px; /* Ajusta o tamanho da fonte para dar mais espaço */
}

#venda-mais a {
  background-color: #212721;
  color: #FFCD00;
  padding: 10px;
  border-radius: 15px;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s ease; /* Corrige a transição */
  box-shadow: 0px 2px 6px rgba(255, 205, 0, 0.8);
  font-family: "Satoshi-Bold";
  margin-top: 20px; /* Adiciona um espaçamento superior ao botão */
}
#venda-mais a:hover {
  background-color: #FFCD00;
  color: #212721; /* Troca de cor no hover */
}

#venda-mais p {
  color: #212721;
  margin-bottom: 15px;
  font-family: "Satoshi-Regular";
  font-size: 22px;
}

#venda-mais article {
  height: auto; /* Ajusta para altura automática */
  width: 40%;
  max-width: 1200px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px; /* Reduz o padding para dar mais espaço interno */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Garante que os elementos fiquem alinhados no topo */
  align-items: center; /* Centraliza horizontalmente os elementos */
  text-align: center;
  overflow: hidden;
}

/* Imagens e Texo */
#imagens-e-texto {
  height: 100%;
  width: 100%;
  background-color: #212721;
  display: flex;
  flex-direction: column;
}

.images-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  align-items: center;
}

.images-text article {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.images-text article img {
  max-width: 500px;
  width: 100%;
  height: 100%;
  max-height: 500px;
  border-radius: 5%;
}

.images-text a{
  width: 100%;
  height: 100%;
  max-width: 300px;
  background-color: #212721;
  color: #FFCD00;
  padding: 10px;
  border-radius: 15px;
  font-size: 25px;
  text-decoration: none;
  transition: 0.3s ease; /* Corrige a transição */
  box-shadow: 0px 2px 6px rgba(255, 205, 0, 0.8);
  font-family: "Satoshi-Bold";
  margin-top: 20px; /* Adiciona um espaçamento superior ao botão */
}

.images-text a:hover{
  background-color: #FFCD00;
  color: #212721; /* Troca de cor no hover */
}

.textos{
  width: 100%;
  max-width: 650px;
}

#id1 h2{
  font-family: "Satoshi-Bold";
  color: #FFCD00;
  font-size: 35px;
}

#id1 h3{
  font-family: "Satoshi-Bold";
  color: white;
  font-size: 25px;
}
#id1{
  color: white;
  margin-left: 30px;
}

#id2 h2{ /*Nossos diferenciais*/
  font-family: "Satoshi-Bold";
  color: white;
  font-size: 50px;
}

#id2 h3{
  font-family: "Satoshi-Bold";
  color: #FFCD00;
  font-size: 25px;
}
#id2{
  color: white;
  margin-right: 30px;
}

#id3 h2{
  font-family: "Satoshi-Bold";
  color: #FFCD00;
  font-size: 50px;
}

#id3 h3{
  font-family: "Satoshi-Bold";
  color: #FFCD00;
  font-size: 35px;
}
#id3{
  color: white;
}

/* Sobre Nós */
#quem-somos {
  color: white;
  width: 100%;
  background-color: #212721;
  display: flex;
  flex-direction: column; /* O conteúdo será empilhado (título em cima) */
  justify-content: flex-start;
  align-items: center;
  padding: 90px;
  box-sizing: border-box;
}

#quem-somos h2 {
  font-family: "Satoshi-Bold";
  color: #FFCD00;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center; /* Título centralizado */
}

#quem-somos #sobre {
  display: flex;
  flex-direction: row; /* Alinha texto e imagem lado a lado */
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  max-width: 1200px; /* Limita o tamanho máximo do container */
}

#quem-somos #sobre h3 {
  font-family: "Satoshi-Bold";
  color: gray;
  font-size: 22px;
  margin-bottom: 20px;
  text-align: left;
}

#quem-somos #sobre p {
  font-family: "Satoshi-Regular";
  font-size: 20px;
  margin-bottom: 20px;
  text-align: left;
  line-height: 1.6;
  flex: 1; /* Texto ocupa o máximo de espaço disponível */
}

#quem-somos img {
  max-width: 40%; /* Limita a largura da imagem */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(31, 38, 31, 0.9); /* Sombra suave */
  margin-left: 30px;
}


/* PRA QUEM É */
#pra-quem-e{
  color: #d9d8d6;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #212721;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

/* Forms */

#formulario{
  background-color: #212721;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}

#formulario h2{
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  font-family:"Satoshi-Bold";
  color: white;
}

/* Estilo geral do formulário */
#forms {
  justify-self: center;
  align-self: center;
  width: 450px; /* Largura ajustável */
  background-color: #212721; /* Fundo preto */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  color: white; /* Texto branco */
  font-family: "Satoshi-Regular";
  border: 1px solid #FFCD00;
}

/* Título principal do formulário */


/* Estilo geral do formulário */
#formulario form {
  display: flex;
  flex-direction: column;
}

/* Estilos para cada artigo do formulário */
#formulario article {
  margin-bottom: 15px; /* Espaçamento entre campos */
}

/* Estilo dos campos de entrada */
#formulario form input[type="text"],
#formulario form input[type="email"],
#formulario form input[type="tel"] {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  width: 95%; /* Ajusta para ocupar toda a largura do artigo */
 
}

/* Foco nos campos de entrada */
#formulario form input:focus {
  outline: none;
  border-color: #FFCD00; /* Realce ao focar */
  
}

/* Estilo dos rótulos */
#formulario form label {
  display: block; /* Para alinhar o texto acima do campo */
  font-size: 12px;
  margin-bottom: 5px;
}

/* Estilo do botão de envio */
#formulario form button[type="submit"] {
  background-color: #FFCD00;
  border: none;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#formulario form button[type="submit"]:hover {
  background-color: #212721; /* Cor mais escura no hover */
  border: 1px solid #FFCD00;
}

/* Estilo específico para a lista de opções (checkbox-list) */
#formulario .checkbox-list {
  margin-top: 20px; /* Espaçamento acima */
  margin-right: 20px;
}

#formulario .checkbox-list h3 {
  font-size: 16px; /* Título da seção de serviços */
  margin-bottom: 10px;
}

#formulario .checkbox-list article {
  margin-bottom: 10px; /* Espaçamento entre opções */
}

#formulario .checkbox-list input[type="radio"] {
  margin-right: 10px; /* Espaçamento entre o rádio e o texto */
}

#formulario .checkbox-list label {
  font-size: 14px;
}




/* FOOTER  */

footer {
  background-color: #0d0f0d;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  overflow: hidden;
}

.footer-logo {
  position: relative;
  flex: 0 1 auto;
  text-align: center;
  width: auto;
}

.footer-logo img {
  height: 500px;
  width: auto;
  max-width: 100%;
}

.footer-address {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
  text-align: left;
  color: #FFCD00;
  font-size: 16px;
  font-family: "Satoshi-Regular";
  height: 250px; 
  padding: 10px; 
}

.footer-address h3 {
  color: #FFCD00; /* Cor do texto "Endereço:" */
  margin: 0;
  font-size: 30px;
}
.footer-contact p{
  color: white;
}

.footer-contact h3 {
  color: #FFCD00; /* Cor do texto "Endereço:" */
  margin: 0;
  font-size: 30px;
}

footer::after {
  background-color: #FFCD00;
  height: 40px;
  content: "Copyright Acelera Obra – Todos os direitos reservados 2024.";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  font-family: "Satoshi-Bold";
  color: #212721;
}



/* Media Queries */

/* Para telas pequenas (mobile) até 480px */
@media (max-width: 480px) {
  nav {
      padding: 10px;
      height: 80px;
      flex-direction: column;
      align-items: flex-start;
  }

  .logo {
   display: none;
  }

  

  .nav-buttons {
      flex-direction: column;
      gap: 20px;
      margin-top: 10px;
  }

  #main {
      height: 600px;
      background-position: top;
  }

  #main article {
      margin-top: 50px;
      width: 90%;
  }

  #problemas .card, #solucoes .card2 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
  }

  #pra-quem-e {
      flex-direction: column;
      padding-left: 5%;
      padding-right: 5%;
  }

  .carousel {
      width: 100%;
      padding: 20px;
  }

  #servicos h2, #venda-mais h2 {
      font-size: 28px;
  }

  #venda-mais a {
      font-size: 14px;
  }

  .images-text article {
      flex-direction: column;
  }

  .images-text a {
      width: 80%;
  }

  #pra-quem-e .card3 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-top: 40px;
  }

  #pra-quem-e h1 {
      font-size: 28px;
  }

  #pra-quem-e li {
      font-size: 18px;
      width: 100%;
  }

  #pra-quem-e article a {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      padding: 15px;
  }

  #venda-mais article {
      width: 90%;
      padding: 20px;
  }

  #venda-mais h2 {
      font-size: 24px;
  }

  #venda-mais p {
      font-size: 18px;
  }

  #imagens-e-texto article {
      flex-direction: column;
  }

  #imagens-e-texto article img {
      width: 100%;
      max-height: 350px;
  }

  #id1 h2, #id2 h2, #id3 h2 {
      font-size: 30px;
  }

  #id1 h3, #id2 h3, #id3 h3 {
      font-size: 18px;
  }

  #quem-somos #sobre {
      flex-direction: column;
      align-items: center;
  }

  #quem-somos #sobre img {
      max-width: 70%;
      margin-left: 0;
      margin-top: 20px;
  }

  #forms {
      width: 90%;
  }

  #formulario h2 {
      font-size: 30px;
  }
}

/* Para tablets e dispositivos médios (até 768px) */
@media (max-width: 768px) {
  nav {
      padding: 15px;
      height: 90px;
  }

  .logo {
      display: none;
  }

  .nav-buttons {
      gap: 30px;
  }

  #main {
      height: 800px;
      background-position: top;
  }

  #main article {
      width: 80%;
  }

  #problemas .card, #solucoes .card2 {
      width: 48%;
  }

  #pra-quem-e {
      padding-left: 10%;
      padding-right: 10%;
  }

  .carousel {
      width: 100%;
      padding: 20px;
  }

  #servicos h2 {
      font-size: 30px;
  }

  #venda-mais a {
      font-size: 16px;
  }

  .images-text article {
      flex-direction: column;
  }

  #servicos .caroul-text a{
    font-size: 10px;
  }

  #pra-quem-e h1 {
      font-size: 32px;
  }

  #venda-mais h2 {
      font-size: 28px;
  }

  #quem-somos #sobre img {
      max-width: 50%;
  }

  #id1 h2, #id2 h2, #id3 h2 {
      font-size: 35px;
  }

  #id1 h3, #id2 h3, #id3 h3 {
      font-size: 22px;
  }

  #forms {
      width: 70%;
  }

  #formulario h2 {
      font-size: 35px;
  }
}

/* Para laptops e dispositivos grandes (até 1024px) */
@media (max-width: 1024px) {
  nav {
      padding: 20px;
      height: 100px;
  }

  .logo {
      width: 350px;
  }

  .nav-buttons {
      gap: 40px;
  }

  #main {
      height: 900px;
  }

  #main article {
      width: 75%;
  }

  #problemas .card, #solucoes .card2 {
      width: 30%;
  }

  #pra-quem-e {
      padding-left: 8%;
      padding-right: 8%;
  }

  .carousel {
      width: 80%;
      padding: 30px;
  }

  #servicos h2 {
      font-size: 32px;
  }
  #servicos .caroul-text a{
    font-size: 12px;
  }

  #venda-mais a {
      font-size: 18px;
  }

  .images-text article {
      flex-direction: column;
  }

  #imagens-e-texto article img {
      max-width: 80%;
  }
}

/* Para desktops grandes (1025px em diante) */
@media (min-width: 1025px) {
  nav {
      padding: 25px;
      height: 100px;
  }

  .logo {
      width: 400px;
  }

  .nav-buttons {
      gap: 40px;
  }

  #main {
      height: 1000px;
  }

  #main article {
      width: 600px;
  }

  #problemas .card, #solucoes .card2 {
      width: 30%;
  }

  #pra-quem-e {
      padding-left: 10%;
      padding-right: 10%;
  }

  .carousel {
      width: 90%;
  }

  #servicos h2 {
      font-size: 35px;
  }

  #venda-mais a {
      font-size: 20px;
  }

  .images-text article {
      flex-direction: row;
  }
}




/* Fonte Satoshi */

/**
* @license
*
* Font Family: Satoshi
* Designed by: Deni Anggara
* URL: https://www.fontshare.com/fonts/satoshi
* © 2024 Indian Type Foundry
*
* Satoshi Light 
* Satoshi LightItalic 
* Satoshi Regular 
* Satoshi Italic 
* Satoshi Medium 
* Satoshi MediumItalic 
* Satoshi Bold 
* Satoshi BoldItalic 
* Satoshi Black 
* Satoshi BlackItalic 
* Satoshi Variable (Variable font)
* Satoshi VariableItalic (Variable font)

*
*/
@font-face {
    font-family: 'Satoshi-Light';
    src: url('../fonts/Satoshi-Light.woff2') format('woff2'),
         url('../fonts/Satoshi-Light.woff') format('woff'),
         url('../fonts/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('../fonts/Satoshi-LightItalic.woff2') format('woff2'),
         url('../fonts/Satoshi-LightItalic.woff') format('woff'),
         url('../fonts/Satoshi-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
         url('../fonts/Satoshi-Regular.woff') format('woff'),
         url('../fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-Italic';
    src: url('../fonts/Satoshi-Italic.woff2') format('woff2'),
         url('../fonts/Satoshi-Italic.woff') format('woff'),
         url('../fonts/Satoshi-Italic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('../fonts/Satoshi-Medium.woff2') format('woff2'),
         url('../fonts/Satoshi-Medium.woff') format('woff'),
         url('../fonts/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('../fonts/Satoshi-MediumItalic.woff2') format('woff2'),
         url('../fonts/Satoshi-MediumItalic.woff') format('woff'),
         url('../fonts/Satoshi-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
         url('../fonts/Satoshi-Bold.woff') format('woff'),
         url('../fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('../fonts/Satoshi-BoldItalic.woff2') format('woff2'),
         url('../fonts/Satoshi-BoldItalic.woff') format('woff'),
         url('../fonts/Satoshi-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Black';
    src: url('../fonts/Satoshi-Black.woff2') format('woff2'),
         url('../fonts/Satoshi-Black.woff') format('woff'),
         url('../fonts/Satoshi-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('../fonts/Satoshi-BlackItalic.woff2') format('woff2'),
         url('../fonts/Satoshi-BlackItalic.woff') format('woff'),
         url('../fonts/Satoshi-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: italic;
  }
  /**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 900.0;
  *
  * available axes:
  'wght' (range from 300.0 to 900.0
  */
  @font-face {
    font-family: 'Satoshi-Variable';
    src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
         url('../fonts/Satoshi-Variable.woff') format('woff'),
         url('../fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
  }
  /**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 900.0;
  *
  * available axes:
  'wght' (range from 300.0 to 900.0
  */
  @font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('../fonts/Satoshi-VariableItalic.woff2') format('woff2'),
         url('../fonts/Satoshi-VariableItalic.woff') format('woff'),
         url('../fonts/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
  }
  
  

